.mat-cart{
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
}

.mat-table{
    width: 100%;
}

.product-img{
    width: 100px;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

.element-name{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 20rem;
    display: block;
}

.total{
    font-weight: 700;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    display: block;
}

.btn{
    float: right;
}